.mobile-profile-container {
    margin-top: 8.25rem;
    padding: 0 1.5rem;
}

.mobile-profile-container form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 6.1rem;
    padding: 0.8rem 0.8rem;
}

.mobile-profile-container label {
    color: #5E5E5E;
    font-size: 18px;
    margin-top: 0.8rem;
}

.mobile-profile-container input {
    width: 100%;
    height: 45px;
    padding: 0.5rem;
    border: 1px solid #3E3E3E;
    border-radius: 7.5px;
    background-color: #f9f9f9;
}

.mobile-profile-save-button {
    width: 130px;
    height: 40px;
    border-radius: 12px;
    background-color: #2051E5;
    color: #FFFFFF;
    margin-top: 2rem;
    border: none;
}